main/default/flows/DY_New_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Source:More,1150,776|Target:Createopp,1300,908</description>
        <name>h_06a797bcf6ceaab53b8ed909f815c7bb_PostPreLog</name>
        <label>Log After: More?, Before: Createopp</label>
        <locationX>908</locationX>
        <locationY>2200</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Createopp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: More?, Before: Createopp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: More?, Before: Createopp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_New_Screen_Flow-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Decision</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_501d5458a9e211402980a2dfa7f5140f_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Get_Accounts.FAULT,400,776|Target:Rollbacktest,550,1172</description>
        <name>h_18cdfedfdfc1232a9924cb734276aa6d_PostPreLog</name>
        <label>Log After: Get Accounts, Before: Rollbacktest</label>
        <locationX>1172</locationX>
        <locationY>700</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Rollbacktest</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Get Accounts, Before: Rollbacktest</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Get Accounts, Before: Rollbacktest</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_New_Screen_Flow-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Lookup</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_066800d2f6641de51d34b2c59d1958c8_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:TransformTest,850,522|Target:AssignIds,1000,473</description>
        <name>h_44a751ed03d604faf9191c5f96cbdd1c_PostPreLog</name>
        <label>Log After: TransformTest, Before: AssignIds</label>
        <locationX>473</locationX>
        <locationY>1600</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssignIds</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: TransformTest, Before: AssignIds</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: TransformTest, Before: AssignIds</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_New_Screen_Flow-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Transform</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>FINER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_cb90c659a981299945e09c314681bf57_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Start,250,650|Target:Get_Accounts,400,776</description>
        <name>h_5c3ef1c6b6623970c82df3da26d9bd41_PostPreLog</name>
        <label>Log After: Start, Before: Get Accounts</label>
        <locationX>776</locationX>
        <locationY>400</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Start, Before: Get Accounts</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Start, Before: Get Accounts</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_New_Screen_Flow-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Start</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_4aaf7d26018a615e4866e9458b80a20a_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Rollbacktest,550,1172|Target:ErrorOO,700,1172</description>
        <name>h_63df186016b1a6356910067d50df794c_PostPreLog</name>
        <label>Log After: Rollbacktest, Before: ErrorOO</label>
        <locationX>1172</locationX>
        <locationY>1000</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ErrorOO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Rollbacktest, Before: ErrorOO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Rollbacktest, Before: ErrorOO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_New_Screen_Flow-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Rollback</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>FINER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_d6af7b767cb1d177637e2c1d7da1077a_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Toggle,1300,605|Target:More,1150,776</description>
        <name>h_84aec7fec35b8a46c470d3704745941d_PostPreLog</name>
        <label>Log After: Add more screen, Before: More?</label>
        <locationX>776</locationX>
        <locationY>2500</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>More</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Add more screen, Before: More?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Add more screen, Before: More?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_New_Screen_Flow-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Screen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_87d9cf33a9461fb8deaf3a3984c6c352_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:More:Yes,2050,776|Target:Account_Selection_Scree,700,754</description>
        <name>h_aa4d0cf32edf56e1e220434db59f208f_PostPreLog</name>
        <label>Log After: Yes, Before: Account Selection Scree</label>
        <locationX>754</locationX>
        <locationY>2800</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Account_Selection_Scree</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Yes, Before: Account Selection Scree</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Yes, Before: Account Selection Scree</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_New_Screen_Flow-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Decision Rule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>FINER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_a6417cb4abdb72497b5b17b1d4fd3c2c_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Account_Selection_Scree,700,754|Target:TransformTest,850,522</description>
        <name>h_b1e983e183baeaccfafda3ce110041af_PostPreLog</name>
        <label>Log After: Account Selection Scree, Before: TransformTest</label>
        <locationX>522</locationX>
        <locationY>1300</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TransformTest</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Account Selection Scree, Before: TransformTest</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Account Selection Scree, Before: TransformTest</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_New_Screen_Flow-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Screen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_49a37fa6946505ade81419084469aaf1_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Createopp,1300,908|Target:null,0,0</description>
        <name>h_bae50332d26a904cc06dc22b5156d1ec_PostLog</name>
        <label>Log After: Createopp</label>
        <locationX>908</locationX>
        <locationY>2500</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Createopp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Createopp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_New_Screen_Flow-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Create</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_2173bfde538033d9f0ac8f9d2426869a_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Get_Accounts,400,776|Target:Account_Selection_Scree,700,754</description>
        <name>h_bfd6de41f9878b921a56a92166737418_PostPreLog</name>
        <label>Log After: Get Accounts, Before: Account Selection Scree</label>
        <locationX>754</locationX>
        <locationY>700</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Account_Selection_Scree</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Get Accounts, Before: Account Selection Scree</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Get Accounts, Before: Account Selection Scree</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_New_Screen_Flow-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Lookup</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_854d8a4497afbc4b55f7bb1d67c6b31c_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:AssignIds,1000,473|Target:Toggle,1300,605</description>
        <name>h_d2dfe99ce83c05fe3362343804732884_PostPreLog</name>
        <label>Log After: AssignIds, Before: Add more screen</label>
        <locationX>605</locationX>
        <locationY>1900</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Toggle</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: AssignIds, Before: Add more screen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: AssignIds, Before: Add more screen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_New_Screen_Flow-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Assignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>FINER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_4c4508fcbbc02f4cf850bc9713e74e1a_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:ErrorOO,700,1172|Target:null,0,0</description>
        <name>h_f854c61fcf70ac4bd2bb8863172ae7e9_PostLog</name>
        <label>Log After: ErrorOO</label>
        <locationX>1172</locationX>
        <locationY>1300</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: ErrorOO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: ErrorOO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_New_Screen_Flow-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Screen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_738e04598425eabc044068b7ee5d6ee9_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>AssignIds</name>
        <label>AssignIds</label>
        <locationX>473</locationX>
        <locationY>1750</locationY>
        <assignmentItems>
            <assignToReference>IdsCollectioVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TransformTest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>h_d2dfe99ce83c05fe3362343804732884_PostPreLog</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>More</name>
        <label>More?</label>
        <locationX>776</locationX>
        <locationY>2050</locationY>
        <defaultConnector>
            <targetReference>h_06a797bcf6ceaab53b8ed909f815c7bb_PostPreLog</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggle2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>h_aa4d0cf32edf56e1e220434db59f208f_PostPreLog</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>DY New Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DY New Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Createopp</name>
        <label>Createopp</label>
        <locationX>908</locationX>
        <locationY>2350</locationY>
        <connector>
            <targetReference>h_bae50332d26a904cc06dc22b5156d1ec_PostLog</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>776</locationX>
        <locationY>550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>h_bfd6de41f9878b921a56a92166737418_PostPreLog</targetReference>
        </connector>
        <faultConnector>
            <targetReference>h_18cdfedfdfc1232a9924cb734276aa6d_PostPreLog</targetReference>
        </faultConnector>
        <object>Account</object>
        <outputReference>Test2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountNumber</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>Website</queriedFields>
    </recordLookups>
    <screens>
        <name>Account_Selection_Scree</name>
        <label>Account Selection Scree</label>
        <locationX>754</locationX>
        <locationY>1150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>h_b1e983e183baeaccfafda3ce110041af_PostPreLog</targetReference>
        </connector>
        <fields>
            <name>Account22</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Test2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;AccountNumber&quot;,&quot;guid&quot;:&quot;column-3258&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;BillingCity&quot;,&quot;guid&quot;:&quot;column-330c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Billing City&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Website&quot;,&quot;guid&quot;:&quot;column-5b81&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Website&quot;,&quot;type&quot;:&quot;url&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorOO</name>
        <label>ErrorOO</label>
        <locationX>1172</locationX>
        <locationY>1150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>h_f854c61fcf70ac4bd2bb8863172ae7e9_PostLog</targetReference>
        </connector>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Error Occured&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Toggle</name>
        <label>Add more screen</label>
        <locationX>605</locationX>
        <locationY>2350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>h_84aec7fec35b8a46c470d3704745941d_PostPreLog</targetReference>
        </connector>
        <fields>
            <name>Text2</name>
            <fieldText>&lt;p&gt;Do you want to add more?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>toggle2</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>h_5c3ef1c6b6623970c82df3da26d9bd41_PostPreLog</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Get Accounts, Before: Rollbacktest</description>
        <name>h_066800d2f6641de51d34b2c59d1958c8_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;GET RECORDS: &lt;/span&gt;Get Accounts&lt;br&gt;
&lt;span&gt;Find all Account records where:&lt;/span&gt;&lt;br&gt;

&lt;span&gt;Store the values of these fields: &lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Accounts} ({!Get_Accounts})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_18cdfedfdfc1232a9924cb734276aa6d_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Createopp</description>
        <name>h_2173bfde538033d9f0ac8f9d2426869a_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;CREATE RECORDS: &lt;/span&gt;Createopp&lt;br&gt;
&lt;span&gt;Create Opportunity record(s) with these field values:&lt;/span&gt;&lt;br&gt;
&lt;span&gt;CloseDate = null&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Name = null&lt;/span&gt;&lt;br&gt;
&lt;span&gt;StageName = null&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Createopp} ({!Createopp})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_bae50332d26a904cc06dc22b5156d1ec_PostLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Account Selection Scree, Before: TransformTest</description>
        <name>h_49a37fa6946505ade81419084469aaf1_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;SCREEN: &lt;/span&gt;Account Selection Scree&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Account22: &lt;/span&gt;Account22&lt;br&gt;
&lt;span&gt;Type: ComponentInstance&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!Account22}&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_b1e983e183baeaccfafda3ce110041af_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Start, Before: Get Accounts</description>
        <name>h_4aaf7d26018a615e4866e9458b80a20a_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;&lt;style&gt;
span,a {
 font-size: 16px;}&lt;/style&gt;&lt;/head&gt;&lt;body&gt;&lt;p&gt;
&lt;span&gt;&lt;img src=&quot;https://a.sfdcstatic.com/shared/images/c360-nav/mobile_logo.png&quot; alt=&quot;Salesforce logo&quot; width=&quot;40px&quot;&gt;&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size:x-large;font-weight:bold&quot;&gt;An Error Occurred with Your &quot;DY New Screen Flow&quot; Flow&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span&gt;You&apos;ve received this email because an error occurred while your &quot;DY New Screen Flow&quot; flow was running. &lt;a &gt;Debug this flow in Flow Builder.&lt;/a&gt;&lt;br&gt;&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Error element debug (FlowActionCall).&lt;/span&gt;&lt;br&gt;&lt;span&gt;Debug: end&lt;/span&gt;&lt;br&gt;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;a style=&quot;background-color:#0176D3;border-radius:4px;color:white;padding:.5rem 1rem;text-decoration:none&quot;&gt;Open Flow&lt;/a&gt;&lt;br&gt;&lt;br&gt;&lt;/p&gt;
&lt;hr&gt;
&lt;br&gt;&lt;span style=&quot;font-size:x-large;font-weight:bold&quot;&gt;Flow Error Details&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Flow Details&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Flow API Name: &lt;/span&gt;testnewmp__DY_New_Screen_Flow&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Type: &lt;/span&gt;Flow&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Version: &lt;/span&gt;2&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Status: &lt;/span&gt;Draft&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Org: &lt;/span&gt;{!$Organization.Id} ({!$Organization.Name})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Flow Interview Details&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Interview Label: &lt;/span&gt;DY New Screen Flow&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Interview GUID: &lt;/span&gt;{!$Flow.InterviewGuid}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Current User: &lt;/span&gt;{!$User.FirstName} {!$User.LastName}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Start time: &lt;/span&gt;{!$Flow.InterviewStartTime}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Duration: &lt;/span&gt;0&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;How the Interview Started&lt;/span&gt;&lt;br&gt;
&lt;span&gt;{!$User.FirstName} {!$User.LastName} ({!$User.Id}) started the flow interview.&lt;/span&gt;&lt;br&gt;
&lt;span&gt;API Version for Running the Flow: 63.0&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_5c3ef1c6b6623970c82df3da26d9bd41_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: AssignIds, Before: Add more screen</description>
        <name>h_4c4508fcbbc02f4cf850bc9713e74e1a_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;ASSIGNMENT: &lt;/span&gt;AssignIds&lt;br&gt;
&lt;span&gt;IdsCollectioVar Add TransformTest&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;IdsCollectioVar = {!IdsCollectioVar}&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_d2dfe99ce83c05fe3362343804732884_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: More?, Before: Createopp</description>
        <name>h_501d5458a9e211402980a2dfa7f5140f_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;DECISION: &lt;/span&gt;More?&lt;br&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Yes&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!toggle2.value} ({!toggle2.value}) EqualTo true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Default outcome executed.&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_06a797bcf6ceaab53b8ed909f815c7bb_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: ErrorOO</description>
        <name>h_738e04598425eabc044068b7ee5d6ee9_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;SCREEN: &lt;/span&gt;ErrorOO&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Error: &lt;/span&gt;Error&lt;br&gt;
&lt;span&gt;Type: DisplayText&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: null&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!Error}&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_f854c61fcf70ac4bd2bb8863172ae7e9_PostLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Get Accounts, Before: Account Selection Scree</description>
        <name>h_854d8a4497afbc4b55f7bb1d67c6b31c_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;GET RECORDS: &lt;/span&gt;Get Accounts&lt;br&gt;
&lt;span&gt;Find all Account records where:&lt;/span&gt;&lt;br&gt;

&lt;span&gt;Store the values of these fields: &lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Accounts} ({!Get_Accounts})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_bfd6de41f9878b921a56a92166737418_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Add more screen, Before: More?</description>
        <name>h_87d9cf33a9461fb8deaf3a3984c6c352_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;SCREEN: &lt;/span&gt;Add more screen&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Text2: &lt;/span&gt;Text2&lt;br&gt;
&lt;span&gt;Type: DisplayText&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: null&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!Text2}&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;toggle2: &lt;/span&gt;toggle2&lt;br&gt;
&lt;span&gt;Type: ComponentInstance&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!toggle2}&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_84aec7fec35b8a46c470d3704745941d_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Yes, Before: Account Selection Scree</description>
        <name>h_a6417cb4abdb72497b5b17b1d4fd3c2c_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;DECISION: &lt;/span&gt;More?&lt;br&gt;
&lt;span&gt;Outcome executed: Yes&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!toggle2.value} ({!toggle2.value}) EqualTo true&lt;/span&gt;&lt;br&gt;

&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_aa4d0cf32edf56e1e220434db59f208f_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: TransformTest, Before: AssignIds</description>
        <name>h_cb90c659a981299945e09c314681bf57_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;TRANSFORM: &lt;/span&gt;TransformTest&lt;br&gt;
&lt;span&gt;Source Data: {!TransformTest}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Target Data: null&lt;/span&gt;&lt;br&gt;
&lt;span&gt;null = Account22.selectedRows[$EachItem].Id&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_44a751ed03d604faf9191c5f96cbdd1c_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Rollbacktest, Before: ErrorOO</description>
        <name>h_d6af7b767cb1d177637e2c1d7da1077a_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;RECORD ROLLBACK: &lt;/span&gt;Rollbacktest&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Pending record changes in the current transaction are rolled back and not saved to the database.&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_63df186016b1a6356910067d50df794c_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Acct</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdsCollectioVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Pharos Full Stacktrace</description>
        <name>Pharos_Full_Stacktrace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue> </stringValue>
        </value>
    </variables>
    <variables>
        <name>Test2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
