main/default/flows/DY_Screen_Rollback_Transform.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Source:Account_Information,134,578|Target:Create_Account,242,578</description>
        <name>h_0d5b7ccbba81fafef74558493cd5d05d_PostPreLog</name>
        <label>Log After: Account Info, Before: Create Account</label>
        <locationX>578</locationX>
        <locationY>700</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Account Info, Before: Create Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Account Info, Before: Create Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Screen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_f5a68fec18177b0e546ba4767d982fb9_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Contact_Info,674,578|Target:Create_Contact,782,578</description>
        <name>h_13a6111a5cbf7b9afc99050950eb8ac7_PostPreLog</name>
        <label>Log After: Contact Info, Before: Create Contact</label>
        <locationX>578</locationX>
        <locationY>2200</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Contact Info, Before: Create Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Contact Info, Before: Create Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Screen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_7f098b5dffd5a66a2e79c80248ba2eb2_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:No_Account,1754,314|Target:null,0,0</description>
        <name>h_17f68a585637182ab276258222d5d86c_PostLog</name>
        <label>Log After: No Account</label>
        <locationX>314</locationX>
        <locationY>5200</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: No Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: No Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Screen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_d2c587514403aed8c20f87430be25993_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Get_Contact,1430,578|Target:Get_Opps,1538,578</description>
        <name>h_246aece5e252225b90211535cc3daec9_PostPreLog</name>
        <label>Log After: Get Contact, Before: Get Opps</label>
        <locationX>578</locationX>
        <locationY>4300</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Opps</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Get Contact, Before: Get Opps</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Get Contact, Before: Get Opps</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Lookup</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_1e7dceea7f3113a25fbb141e2620b32d_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Opportunity_Info,998,578|Target:Create_Opportunity,1106,578</description>
        <name>h_355baf515b320472cca3ff54f1792c82_PostPreLog</name>
        <label>Log After: Opportunity Info, Before: Create Opportunity</label>
        <locationX>578</locationX>
        <locationY>3100</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Opportunity Info, Before: Create Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Opportunity Info, Before: Create Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Screen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_2c9d721d91af3aa65854b4dc28d773d9_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Do_the_records_exist,1646,578|Target:Account_Exists,1754,1106</description>
        <name>h_5c5b4b806dd8a580cbce824f3d11535c_PostPreLog</name>
        <label>Log After: Do the records exist?, Before: Account Exists</label>
        <locationX>1106</locationX>
        <locationY>4900</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Do the records exist?, Before: Account Exists</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Do the records exist?, Before: Account Exists</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Decision</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_4058e619bfa5e2a10f6034935b1753d6_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Create_Opportunity,1106,578|Target:Roll_Back_Records,1214,578</description>
        <name>h_6f21b6fba062e0b6b3818d2987fdb59e_PostPreLog</name>
        <label>Log After: Create Opportunity, Before: Roll Back Records</label>
        <locationX>578</locationX>
        <locationY>3400</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Roll_Back_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Create Opportunity, Before: Roll Back Records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Create Opportunity, Before: Roll Back Records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Create</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_77f2dea76032655330ec0fb06eaa2c5a_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:No_Contact,1754,578|Target:null,0,0</description>
        <name>h_79636b12c2cc4d6c45b0148f94dabfcd_PostLog</name>
        <label>Log After: No Contact</label>
        <locationX>578</locationX>
        <locationY>5200</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: No Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: No Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Screen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_082df271945eaa738d60abed2e8e2d69_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Roll_Back_Records,1214,578|Target:Get_Account,1322,578</description>
        <name>h_7c28305c0e69e37053a7b5271eb1b1af_PostPreLog</name>
        <label>Log After: Roll Back Records, Before: Get Account</label>
        <locationX>578</locationX>
        <locationY>3700</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Roll Back Records, Before: Get Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Roll Back Records, Before: Get Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Rollback</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>FINER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_34490f62ce3ae2beaba5506b969d7d9b_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:No_Opportunity,1754,842|Target:null,0,0</description>
        <name>h_8b5e19901cf871b02ceec0c7b76f2dea_PostLog</name>
        <label>Log After: No Opportunity</label>
        <locationX>842</locationX>
        <locationY>5200</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: No Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: No Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Screen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_e822ab9747985dbbb0a0ff82f6f3c703_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Do_the_records_exist:Account,1646,578|Target:No_Account,1754,314</description>
        <name>h_8b86666ecb8029b1d0423ba3f057e4bb_PostPreLog</name>
        <label>Log After: Account, Before: No Account</label>
        <locationX>314</locationX>
        <locationY>4900</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>No_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Account, Before: No Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Account, Before: No Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Decision Rule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_8622e36f4879b85271b189605c0336db_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Create_Contact,782,578|Target:Copy_1_of_Copy_1_of_Roll_Back_Records,890,578</description>
        <name>h_a82aaa9d2d08603c7517a3aece1cccdd_PostPreLog</name>
        <label>Log After: Create Contact, Before: Copy 1 of Copy 1 of Roll Back Records</label>
        <locationX>578</locationX>
        <locationY>2500</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Roll_Back_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Create Contact, Before: Copy 1 of Copy 1 of Roll Back Records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Create Contact, Before: Copy 1 of Copy 1 of Roll Back Records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Create</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_2c802d9e22384693ef0be4596dee5570_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Do_the_records_exist:Contact,1646,578|Target:No_Contact,1754,578</description>
        <name>h_ae089387c8c78f3a7eff0dbd8c55c461_PostPreLog</name>
        <label>Log After: Contact, Before: No Contact</label>
        <locationX>578</locationX>
        <locationY>4900</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>No_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Contact, Before: No Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Contact, Before: No Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Decision Rule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_c591e7a61af81726ba97d9fdd652e979_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:All,1754,50|Target:null,0,0</description>
        <name>h_b1c94ca2fbc3e78fc30069c8d0f01680_PostLog</name>
        <label>Log After: All</label>
        <locationX>50</locationX>
        <locationY>5200</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: All</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: All</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Screen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_ba14fe82ec47163de9508f8e1716cb8e_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:OPp,1862,1106|Target:null,0,0</description>
        <name>h_b2760e4597541e0ab5526b1902b29411_PostLog</name>
        <label>Log After: OPp</label>
        <locationX>1106</locationX>
        <locationY>5500</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: OPp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: OPp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Create</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_f86caea10cd5fb4be1ed66a5eaa70a80_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Get_Account,1322,578|Target:Get_Contact,1430,578</description>
        <name>h_c22dc64de5c45245f72401d440524f9c_PostPreLog</name>
        <label>Log After: Get Account, Before: Get Contact</label>
        <locationX>578</locationX>
        <locationY>4000</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Get Account, Before: Get Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Get Account, Before: Get Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Lookup</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_e533ec5a421d10e9890e1af7b15bd743_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Do_the_records_exist:All_records,1646,578|Target:All,1754,50</description>
        <name>h_c9742dba1d901cdc20b04e045346bd22_PostPreLog</name>
        <label>Log After: All records, Before: All</label>
        <locationX>50</locationX>
        <locationY>4900</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>All</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: All records, Before: All</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: All records, Before: All</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Decision Rule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_bcfac21a1ed398b9e1a9dfcea034d386_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Get_Opps,1538,578|Target:Do_the_records_exist,1646,578</description>
        <name>h_d11be20174313b98e7a0e60f9f6c9f38_PostPreLog</name>
        <label>Log After: Get Opps, Before: Do the records exist?</label>
        <locationX>578</locationX>
        <locationY>4600</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Do_the_records_exist</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Get Opps, Before: Do the records exist?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Get Opps, Before: Do the records exist?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Lookup</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_a16e9f852fb426d7af5e54ab1c0a6aa0_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Copy_1_of_Copy_1_of_Roll_Back_Records,890,578|Target:Opportunity_Info,998,578</description>
        <name>h_d52c7629e175c3fb199e5a766befd39e_PostPreLog</name>
        <label>Log After: Copy 1 of Copy 1 of Roll Back Records, Before: Opportunity Info</label>
        <locationX>578</locationX>
        <locationY>2800</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Opportunity_Info</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Copy 1 of Copy 1 of Roll Back Records, Before: Opportunity Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Copy 1 of Copy 1 of Roll Back Records, Before: Opportunity Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Rollback</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>FINER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_eafcc9cce63591066b183a1b67b01227_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Start,0,452|Target:Account_Information,134,578</description>
        <name>h_dfaf4881c0bc3e8ab8f470860ed0b7eb_PostPreLog</name>
        <label>Log After: Start, Before: Account Info</label>
        <locationX>578</locationX>
        <locationY>400</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Account_Information</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Start, Before: Account Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Start, Before: Account Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Start</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_1b8188e2d976396923e4f37aa810bacc_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Get_Account_with_AR_55,350,578|Target:Delete_Account,458,578</description>
        <name>h_e0044ffb0c4b0c20843815d00e44eced_PostPreLog</name>
        <label>Log After: Get Account with AR 55, Before: Delete Account</label>
        <locationX>578</locationX>
        <locationY>1300</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Delete_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Get Account with AR 55, Before: Delete Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Get Account with AR 55, Before: Delete Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Lookup</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_04ae632bf675c150985a8946e354c152_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Do_the_records_exist:Opportunity,1646,578|Target:No_Opportunity,1754,842</description>
        <name>h_e073acdc8e2472e438657c4852b8810a_PostPreLog</name>
        <label>Log After: Opportunity, Before: No Opportunity</label>
        <locationX>842</locationX>
        <locationY>4900</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>No_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Opportunity, Before: No Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Opportunity, Before: No Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Decision Rule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_994b10358e11103a87b3bb3c8f3b012d_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Delete_Account,458,578|Target:Copy_1_of_Copy_1_of_Copy_1_of_Roll_Back_Records,566,578</description>
        <name>h_ef9d9395050739bc47182d35bc88543f_PostPreLog</name>
        <label>Log After: Delete Account,, Before: Copy 1 of Copy 1 of Copy 1 of Roll Back R...</label>
        <locationX>578</locationX>
        <locationY>1600</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Roll_Back_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Delete Account,, Before: Copy 1 of Copy 1 of Copy 1 of Roll Back R...</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Delete Account,, Before: Copy 1 of Copy 1 of Copy 1 of Roll Back R...</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Delete</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_32f6b1c76cfb4f9a6cb0ae352f978b54_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Account_Exists,1754,1106|Target:OPp,1862,1106</description>
        <name>h_f2b9b8c3806337889c38d37f3a2371c2_PostPreLog</name>
        <label>Log After: Account Exists, Before: OPp</label>
        <locationX>1106</locationX>
        <locationY>5200</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>OPp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Account Exists, Before: OPp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Account Exists, Before: OPp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Screen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_1ef24f0a68b8b0d7815f5027b82b6592_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Copy_1_of_Copy_1_of_Copy_1_of_Roll_Back_Records,566,578|Target:Contact_Info,674,578</description>
        <name>h_f5bb881a29da237b58faed81544fbf11_PostPreLog</name>
        <label>Log After: Copy 1 of Copy 1 of Copy 1 of Roll Back Records, Before: Contact Info</label>
        <locationX>578</locationX>
        <locationY>1900</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Contact_Info</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Copy 1 of Copy 1 of Copy 1 of Roll Back Records, Before: Contact Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Copy 1 of Copy 1 of Copy 1 of Roll Back Records, Before: Contact Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Rollback</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>FINER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_a962c7820a91ddcbcacc65c367b6cf8e_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Create_Account,242,578|Target:Get_Account_with_AR_55,350,578</description>
        <name>h_f8182c3e78b9f708f26c376a4f312d1a_PostPreLog</name>
        <label>Log After: Create Account, Before: Get Account with AR 55</label>
        <locationX>578</locationX>
        <locationY>1000</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account_with_AR_55</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Create Account, Before: Get Account with AR 55</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Create Account, Before: Get Account with AR 55</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Rollback_Transform-3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Create</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_490337886a347f0091b52cc727bb1c9a_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Do_the_records_exist</name>
        <label>Do the records exist?</label>
        <locationX>578</locationX>
        <locationY>4750</locationY>
        <defaultConnector>
            <targetReference>h_5c5b4b806dd8a580cbce824f3d11535c_PostPreLog</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>h_c9742dba1d901cdc20b04e045346bd22_PostPreLog</targetReference>
            </connector>
            <label>All records</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>h_8b86666ecb8029b1d0423ba3f057e4bb_PostPreLog</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>h_ae089387c8c78f3a7eff0dbd8c55c461_PostPreLog</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>h_e073acdc8e2472e438657c4852b8810a_PostPreLog</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <interviewLabel>DY Screen + Rollback + Transform {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DY Screen + Rollback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Description 2</description>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>578</locationX>
        <locationY>850</locationY>
        <connector>
            <targetReference>h_f8182c3e78b9f708f26c376a4f312d1a_PostPreLog</targetReference>
        </connector>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <numberValue>55.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Accont_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Description 4</description>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>578</locationX>
        <locationY>2350</locationY>
        <connector>
            <targetReference>h_a82aaa9d2d08603c7517a3aece1cccdd_PostPreLog</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <stringValue>12345</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>578</locationX>
        <locationY>3250</locationY>
        <connector>
            <targetReference>h_6f21b6fba062e0b6b3818d2987fdb59e_PostPreLog</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>55.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Closed_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>OPp</name>
        <label>OPp</label>
        <locationX>1106</locationX>
        <locationY>5350</locationY>
        <connector>
            <targetReference>h_b2760e4597541e0ab5526b1902b29411_PostLog</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Account</name>
        <label>Delete Account</label>
        <locationX>578</locationX>
        <locationY>1450</locationY>
        <connector>
            <targetReference>h_ef9d9395050739bc47182d35bc88543f_PostPreLog</targetReference>
        </connector>
        <inputReference>Get_Account_with_AR_55</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>578</locationX>
        <locationY>3850</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>h_c22dc64de5c45245f72401d440524f9c_PostPreLog</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>AnnualRevenue</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>55.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_with_AR_55</name>
        <label>Get Account with AR 55</label>
        <locationX>578</locationX>
        <locationY>1150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>h_e0044ffb0c4b0c20843815d00e44eced_PostPreLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AnnualRevenue</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>55.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>578</locationX>
        <locationY>4150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>h_246aece5e252225b90211535cc3daec9_PostPreLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>12345</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opps</name>
        <label>Get Opps</label>
        <locationX>578</locationX>
        <locationY>4450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>h_d11be20174313b98e7a0e60f9f6c9f38_PostPreLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>55.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Account_Exists</name>
        <label>Account Exists</label>
        <locationX>1106</locationX>
        <locationY>5050</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>h_f2b9b8c3806337889c38d37f3a2371c2_PostPreLog</targetReference>
        </connector>
        <fields>
            <name>Account_Exist1</name>
            <fieldText>&lt;p&gt;Account Exists&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Description 1</description>
        <name>Account_Information</name>
        <label>Account Info</label>
        <locationX>578</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>h_0d5b7ccbba81fafef74558493cd5d05d_PostPreLog</targetReference>
        </connector>
        <fields>
            <name>Accont_Name</name>
            <dataType>String</dataType>
            <fieldText>Accont Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>All</name>
        <label>All</label>
        <locationX>50</locationX>
        <locationY>5050</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>h_b1c94ca2fbc3e78fc30069c8d0f01680_PostLog</targetReference>
        </connector>
        <fields>
            <name>NoRecords</name>
            <fieldText>&lt;p&gt;There are no Account, Contact, Opportunity records&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Description 3</description>
        <name>Contact_Info</name>
        <label>Contact Info</label>
        <locationX>578</locationX>
        <locationY>2050</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>h_13a6111a5cbf7b9afc99050950eb8ac7_PostPreLog</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Account</name>
        <label>No Account</label>
        <locationX>314</locationX>
        <locationY>5050</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>h_17f68a585637182ab276258222d5d86c_PostLog</targetReference>
        </connector>
        <fields>
            <name>No_Account1</name>
            <fieldText>&lt;p&gt;There is no Account&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Contact</name>
        <label>No Contact</label>
        <locationX>578</locationX>
        <locationY>5050</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>h_79636b12c2cc4d6c45b0148f94dabfcd_PostLog</targetReference>
        </connector>
        <fields>
            <name>NoContact</name>
            <fieldText>&lt;p&gt;There is no Contact&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Opportunity</name>
        <label>No Opportunity</label>
        <locationX>842</locationX>
        <locationY>5050</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>h_8b5e19901cf871b02ceec0c7b76f2dea_PostLog</targetReference>
        </connector>
        <fields>
            <name>NoOpp</name>
            <fieldText>&lt;p&gt;There is no Opportunity&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Description 5</description>
        <name>Opportunity_Info</name>
        <label>Opportunity Info</label>
        <locationX>578</locationX>
        <locationY>2950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>h_355baf515b320472cca3ff54f1792c82_PostPreLog</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Closed_Date</name>
            <dataType>Date</dataType>
            <fieldText>Closed Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>h_dfaf4881c0bc3e8ab8f470860ed0b7eb_PostPreLog</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Get Account with AR 55, Before: Delete Account</description>
        <name>h_04ae632bf675c150985a8946e354c152_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;GET RECORDS: &lt;/span&gt;Get Account with AR 55&lt;br&gt;
&lt;span&gt;Find all Account records where:&lt;/span&gt;&lt;br&gt;
&lt;span&gt;AnnualRevenue EqualTo 55.0&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Store the values of these fields: &lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account_with_AR_55} ({!Get_Account_with_AR_55})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_e0044ffb0c4b0c20843815d00e44eced_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: No Contact</description>
        <name>h_082df271945eaa738d60abed2e8e2d69_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;SCREEN: &lt;/span&gt;No Contact&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;NoContact: &lt;/span&gt;NoContact&lt;br&gt;
&lt;span&gt;Type: DisplayText&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: null&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!NoContact}&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_79636b12c2cc4d6c45b0148f94dabfcd_PostLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Start, Before: Account Info</description>
        <name>h_1b8188e2d976396923e4f37aa810bacc_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;&lt;style&gt;
span,a {
 font-size: 16px;}&lt;/style&gt;&lt;/head&gt;&lt;body&gt;&lt;p&gt;
&lt;span&gt;&lt;img src=&quot;https://a.sfdcstatic.com/shared/images/c360-nav/mobile_logo.png&quot; alt=&quot;Salesforce logo&quot; width=&quot;40px&quot;&gt;&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size:x-large;font-weight:bold&quot;&gt;An Error Occurred with Your &quot;DY Screen + Rollback&quot; Flow&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span&gt;You&apos;ve received this email because an error occurred while your &quot;DY Screen + Rollback&quot; flow was running. &lt;a &gt;Debug this flow in Flow Builder.&lt;/a&gt;&lt;br&gt;&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Error element debug (FlowActionCall).&lt;/span&gt;&lt;br&gt;&lt;span&gt;Debug: end&lt;/span&gt;&lt;br&gt;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;a style=&quot;background-color:#0176D3;border-radius:4px;color:white;padding:.5rem 1rem;text-decoration:none&quot;&gt;Open Flow&lt;/a&gt;&lt;br&gt;&lt;br&gt;&lt;/p&gt;
&lt;hr&gt;
&lt;br&gt;&lt;span style=&quot;font-size:x-large;font-weight:bold&quot;&gt;Flow Error Details&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Flow Details&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Flow API Name: &lt;/span&gt;testnewmp__DY_Screen_Rollback_Transform&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Type: &lt;/span&gt;Flow&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Version: &lt;/span&gt;6&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Status: &lt;/span&gt;Active&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Org: &lt;/span&gt;{!$Organization.Id} ({!$Organization.Name})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Flow Interview Details&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Interview Label: &lt;/span&gt;DY Screen + Rollback&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Interview GUID: &lt;/span&gt;{!$Flow.InterviewGuid}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Current User: &lt;/span&gt;{!$User.FirstName} {!$User.LastName}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Start time: &lt;/span&gt;{!$Flow.InterviewStartTime}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Duration: &lt;/span&gt;0&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;How the Interview Started&lt;/span&gt;&lt;br&gt;
&lt;span&gt;{!$User.FirstName} {!$User.LastName} ({!$User.Id}) started the flow interview.&lt;/span&gt;&lt;br&gt;
&lt;span&gt;API Version for Running the Flow: 63.0&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_dfaf4881c0bc3e8ab8f470860ed0b7eb_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Get Contact, Before: Get Opps</description>
        <name>h_1e7dceea7f3113a25fbb141e2620b32d_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;GET RECORDS: &lt;/span&gt;Get Contact&lt;br&gt;
&lt;span&gt;Find all Contact records where:&lt;/span&gt;&lt;br&gt;
&lt;span&gt;MobilePhone EqualTo 12345&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Store the values of these fields: &lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_246aece5e252225b90211535cc3daec9_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Account Exists, Before: OPp</description>
        <name>h_1ef24f0a68b8b0d7815f5027b82b6592_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;SCREEN: &lt;/span&gt;Account Exists&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Account_Exist1: &lt;/span&gt;Account_Exist1&lt;br&gt;
&lt;span&gt;Type: DisplayText&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: null&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!Account_Exist1}&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_f2b9b8c3806337889c38d37f3a2371c2_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Create Contact, Before: Copy 1 of Copy 1 of Roll Back Records</description>
        <name>h_2c802d9e22384693ef0be4596dee5570_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;CREATE RECORDS: &lt;/span&gt;Create Contact&lt;br&gt;
&lt;span&gt;Create Contact record(s) with these field values:&lt;/span&gt;&lt;br&gt;
&lt;span&gt;FirstName = First_Name&lt;/span&gt;&lt;br&gt;
&lt;span&gt;LastName = Last_Name&lt;/span&gt;&lt;br&gt;
&lt;span&gt;MobilePhone = 12345&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Create_Contact} ({!Create_Contact})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_a82aaa9d2d08603c7517a3aece1cccdd_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Opportunity Info, Before: Create Opportunity</description>
        <name>h_2c9d721d91af3aa65854b4dc28d773d9_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;SCREEN: &lt;/span&gt;Opportunity Info&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Opportunity_Name: &lt;/span&gt;Opportunity_Name&lt;br&gt;
&lt;span&gt;Type: InputField&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!Opportunity_Name}&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Closed_Date: &lt;/span&gt;Closed_Date&lt;br&gt;
&lt;span&gt;Type: InputField&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!Closed_Date}&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_355baf515b320472cca3ff54f1792c82_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Delete Account,, Before: Copy 1 of Copy 1 of Copy 1 of Roll Back R...</description>
        <name>h_32f6b1c76cfb4f9a6cb0ae352f978b54_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;DELETE RECORDS: &lt;/span&gt;Delete Account&lt;br&gt;
&lt;span&gt;Delete null records where:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Delete_Account} ({!Delete_Account})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_ef9d9395050739bc47182d35bc88543f_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Roll Back Records, Before: Get Account</description>
        <name>h_34490f62ce3ae2beaba5506b969d7d9b_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;RECORD ROLLBACK: &lt;/span&gt;Roll Back Records&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Pending record changes in the current transaction are rolled back and not saved to the database.&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_7c28305c0e69e37053a7b5271eb1b1af_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Do the records exist?, Before: Account Exists</description>
        <name>h_4058e619bfa5e2a10f6034935b1753d6_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;DECISION: &lt;/span&gt;Do the records exist?&lt;br&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: All_records&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Account&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Contact&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Opportunity&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Default outcome executed.&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_5c5b4b806dd8a580cbce824f3d11535c_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Create Account, Before: Get Account with AR 55</description>
        <name>h_490337886a347f0091b52cc727bb1c9a_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;CREATE RECORDS: &lt;/span&gt;Create Account&lt;br&gt;
&lt;span&gt;Create Account record(s) with these field values:&lt;/span&gt;&lt;br&gt;
&lt;span&gt;AnnualRevenue = 55.0&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Name = Accont_Name&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Create_Account} ({!Create_Account})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_f8182c3e78b9f708f26c376a4f312d1a_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Create Opportunity, Before: Roll Back Records</description>
        <name>h_77f2dea76032655330ec0fb06eaa2c5a_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;CREATE RECORDS: &lt;/span&gt;Create Opportunity&lt;br&gt;
&lt;span&gt;Create Opportunity record(s) with these field values:&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Amount = 55.0&lt;/span&gt;&lt;br&gt;
&lt;span&gt;CloseDate = Closed_Date&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Name = Opportunity_Name&lt;/span&gt;&lt;br&gt;
&lt;span&gt;StageName = Qualification&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Create_Opportunity} ({!Create_Opportunity})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_6f21b6fba062e0b6b3818d2987fdb59e_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Contact Info, Before: Create Contact</description>
        <name>h_7f098b5dffd5a66a2e79c80248ba2eb2_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;SCREEN: &lt;/span&gt;Contact Info&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;First_Name: &lt;/span&gt;First_Name&lt;br&gt;
&lt;span&gt;Type: InputField&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!First_Name}&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Last_Name: &lt;/span&gt;Last_Name&lt;br&gt;
&lt;span&gt;Type: InputField&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!Last_Name}&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_13a6111a5cbf7b9afc99050950eb8ac7_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Account, Before: No Account</description>
        <name>h_8622e36f4879b85271b189605c0336db_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;DECISION: &lt;/span&gt;Do the records exist?&lt;br&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: All_records&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Contact&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Opportunity&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Outcome executed: Account&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull false&lt;/span&gt;&lt;br&gt;

&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_8b86666ecb8029b1d0423ba3f057e4bb_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Opportunity, Before: No Opportunity</description>
        <name>h_994b10358e11103a87b3bb3c8f3b012d_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;DECISION: &lt;/span&gt;Do the records exist?&lt;br&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: All_records&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Account&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Contact&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Outcome executed: Opportunity&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull false&lt;/span&gt;&lt;br&gt;

&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_e073acdc8e2472e438657c4852b8810a_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Get Opps, Before: Do the records exist?</description>
        <name>h_a16e9f852fb426d7af5e54ab1c0a6aa0_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;GET RECORDS: &lt;/span&gt;Get Opps&lt;br&gt;
&lt;span&gt;Find all Opportunity records where:&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Amount EqualTo 55.0&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Store the values of these fields: &lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_d11be20174313b98e7a0e60f9f6c9f38_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Copy 1 of Copy 1 of Copy 1 of Roll Back Records, Before: Contact Info</description>
        <name>h_a962c7820a91ddcbcacc65c367b6cf8e_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;RECORD ROLLBACK: &lt;/span&gt;Copy 1 of Copy 1 of Copy 1 of Roll Back Records&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Pending record changes in the current transaction are rolled back and not saved to the database.&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_f5bb881a29da237b58faed81544fbf11_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: All</description>
        <name>h_ba14fe82ec47163de9508f8e1716cb8e_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;SCREEN: &lt;/span&gt;All&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;NoRecords: &lt;/span&gt;NoRecords&lt;br&gt;
&lt;span&gt;Type: DisplayText&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: null&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!NoRecords}&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_b1c94ca2fbc3e78fc30069c8d0f01680_PostLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: All records, Before: All</description>
        <name>h_bcfac21a1ed398b9e1a9dfcea034d386_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;DECISION: &lt;/span&gt;Do the records exist?&lt;br&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Account&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Contact&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Opportunity&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Outcome executed: All_records&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull true&lt;/span&gt;&lt;br&gt;

&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_c9742dba1d901cdc20b04e045346bd22_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Contact, Before: No Contact</description>
        <name>h_c591e7a61af81726ba97d9fdd652e979_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;DECISION: &lt;/span&gt;Do the records exist?&lt;br&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: All_records&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Account&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Opportunity&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Outcome executed: Contact&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact}) IsNull true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account}) IsNull false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Opps} ({!Get_Opps}) IsNull false&lt;/span&gt;&lt;br&gt;

&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_ae089387c8c78f3a7eff0dbd8c55c461_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: No Account</description>
        <name>h_d2c587514403aed8c20f87430be25993_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;SCREEN: &lt;/span&gt;No Account&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;No_Account1: &lt;/span&gt;No_Account1&lt;br&gt;
&lt;span&gt;Type: DisplayText&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: null&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!No_Account1}&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_17f68a585637182ab276258222d5d86c_PostLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Get Account, Before: Get Contact</description>
        <name>h_e533ec5a421d10e9890e1af7b15bd743_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;GET RECORDS: &lt;/span&gt;Get Account&lt;br&gt;
&lt;span&gt;Find all Account records where:&lt;/span&gt;&lt;br&gt;
&lt;span&gt;AnnualRevenue EqualTo 55.0&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Store the values of these fields: &lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Account} ({!Get_Account})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_c22dc64de5c45245f72401d440524f9c_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: No Opportunity</description>
        <name>h_e822ab9747985dbbb0a0ff82f6f3c703_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;SCREEN: &lt;/span&gt;No Opportunity&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;NoOpp: &lt;/span&gt;NoOpp&lt;br&gt;
&lt;span&gt;Type: DisplayText&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: null&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!NoOpp}&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_8b5e19901cf871b02ceec0c7b76f2dea_PostLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Copy 1 of Copy 1 of Roll Back Records, Before: Opportunity Info</description>
        <name>h_eafcc9cce63591066b183a1b67b01227_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;RECORD ROLLBACK: &lt;/span&gt;Copy 1 of Copy 1 of Roll Back Records&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Pending record changes in the current transaction are rolled back and not saved to the database.&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_d52c7629e175c3fb199e5a766befd39e_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Account Info, Before: Create Account</description>
        <name>h_f5a68fec18177b0e546ba4767d982fb9_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;SCREEN: &lt;/span&gt;Account Info&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Accont_Name: &lt;/span&gt;Accont_Name&lt;br&gt;
&lt;span&gt;Type: InputField&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: false&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!Accont_Name}&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_0d5b7ccbba81fafef74558493cd5d05d_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: OPp</description>
        <name>h_f86caea10cd5fb4be1ed66a5eaa70a80_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;CREATE RECORDS: &lt;/span&gt;OPp&lt;br&gt;
&lt;span&gt;Create Opportunity record(s) with these field values:&lt;/span&gt;&lt;br&gt;
&lt;span&gt;CloseDate = null&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Name = null&lt;/span&gt;&lt;br&gt;
&lt;span&gt;StageName = null&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!OPp} ({!OPp})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_b2760e4597541e0ab5526b1902b29411_PostLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Pharos Full Stacktrace</description>
        <name>Pharos_Full_Stacktrace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue> </stringValue>
        </value>
    </variables>
</Flow>
