main/default/flows/DY_Screen_Flow_Update_Communication_Prefs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Source:Assign_Do_Not_Email_field,1202,986|Target:Is_Do_Not_Mail_visible,1406,584</description>
        <name>h_089565144e97364967e8eddae27441c2_PostPreLog</name>
        <label>Log After: Assign Do Not Email field, Before: Is Do Not Mail visible?</label>
        <locationX>584</locationX>
        <locationY>2800</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Do_Not_Mail_visible</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Assign Do Not Email field, Before: Is Do Not Mail visible?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Assign Do Not Email field, Before: Is Do Not Mail visible?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Assignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>FINER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_c16a61983dcf15bbe14054e0689fdfca_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Update_Contact_Comms_Preferences.FAULT,1706,584|Target:Error,1814,936</description>
        <name>h_33cd4502bd7e753e3a595664f9acced8_PostPreLog</name>
        <label>Log After: Update Contact Comms Preferences, Before: Error</label>
        <locationX>936</locationX>
        <locationY>3700</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Update Contact Comms Preferences, Before: Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Update Contact Comms Preferences, Before: Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>WARNING</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_b7435b402dd9428f353359ce9f52b8a7_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Is_Do_Not_Call_Visible,553,577|Target:Assign_Do_Not_Call_field,564,960</description>
        <name>h_35b243abee71e511d80158f3ba91d16e_PostPreLog</name>
        <label>Log After: Is Do Not Call Visible?, Before: Assign Do Not Call field</label>
        <locationX>960</locationX>
        <locationY>1600</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Do_Not_Call_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Is Do Not Call Visible?, Before: Assign Do Not Call field</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Is Do Not Call Visible?, Before: Assign Do Not Call field</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Decision</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_d33bac4ddc8e727d4eedf609302fb6b3_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Is_Do_Not_Text_visible:Do_Not_Text_filed_is_Null_or_Unchecked,806,584|Target:Is_Do_Not_Email_visible,1106,584</description>
        <name>h_4c7ae032dae2399ef75632c526b8fe06_PostPreLog</name>
        <label>Log After: Do Not Text filed is Null ..., Before: Is Do Not  Email visible?</label>
        <locationX>584</locationX>
        <locationY>1900</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Do_Not_Email_visible</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Do Not Text filed is Null ..., Before: Is Do Not  Email visible?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Do Not Text filed is Null ..., Before: Is Do Not  Email visible?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Decision Rule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_9f6276656e21af45be88436ee7410216_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Assign_Do_Not_Text_Field,918,969|Target:Is_Do_Not_Email_visible,1106,584</description>
        <name>h_54b9967639846299eacc71ca396adb66_PostPreLog</name>
        <label>Log After: Assign Do Not Text Field, Before: Is Do Not  Email visible?</label>
        <locationX>584</locationX>
        <locationY>2200</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Do_Not_Email_visible</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Assign Do Not Text Field, Before: Is Do Not  Email visible?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Assign Do Not Text Field, Before: Is Do Not  Email visible?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Assignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>FINER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_13a2a97bfb78d4cb00e8b043fc03f5f5_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Is_Do_Not_Call_Visible:Do_no_Call_is_Null_or_Unchecked1,553,577|Target:Is_Do_Not_Text_visible,806,584</description>
        <name>h_5c757bb5d6443831a96db47270199dab_PostPreLog</name>
        <label>Log After: Do no Call is Null or Unchecked, Before: Is Do Not Text visible?</label>
        <locationX>584</locationX>
        <locationY>1600</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Do_Not_Text_visible</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Do no Call is Null or Unchecked, Before: Is Do Not Text visible?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Do no Call is Null or Unchecked, Before: Is Do Not Text visible?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Decision Rule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_f7087a4f464e1b36f8621c290b19fd15_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Is_Do_Not_Email_visible:Do_Not_Email_filed_is_Null_or_Unchecked,1106,584|Target:Is_Do_Not_Mail_visible,1406,584</description>
        <name>h_69dfb8d5843e1318f0ac0993b44cb878_PostPreLog</name>
        <label>Log After: Do Not Email filed is Null..., Before: Is Do Not Mail visible?</label>
        <locationX>584</locationX>
        <locationY>2500</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Do_Not_Mail_visible</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Do Not Email filed is Null..., Before: Is Do Not Mail visible?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Do Not Email filed is Null..., Before: Is Do Not Mail visible?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Decision Rule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_7997b326c5de52a3fa1881d4c5ef3a31_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Is_Do_Not_Mail_visible:Do_Not_Mail_filed_is_Null_or_Unchecked,1406,584|Target:Update_Contact_Comms_Preferences,1706,584</description>
        <name>h_892adb7c4fa8f0f1c06289021668ffd6_PostPreLog</name>
        <label>Log After: Do Not Mail filed is Null ..., Before: Update Contact Comms Prefer...</label>
        <locationX>584</locationX>
        <locationY>3100</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Contact_Comms_Preferences</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Do Not Mail filed is Null ..., Before: Update Contact Comms Prefer...</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Do Not Mail filed is Null ..., Before: Update Contact Comms Prefer...</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Decision Rule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_3b84be9eba2269b255329b34949435cc_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Error,1814,936|Target:null,0,0</description>
        <name>h_902b0d55fddef6f8d651fe1035b7d4bd_PostLog</name>
        <label>Log After: Error</label>
        <locationX>936</locationX>
        <locationY>4000</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Screen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_07be1695a86faf239e1863774dff15c3_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Get_Contact,182,584|Target:Update_Communication_Preferences,290,584</description>
        <name>h_9364ae4903f134d4629322c94bef8413_PostPreLog</name>
        <label>Log After: Get Contact, Before: Update Communication Preferences</label>
        <locationX>584</locationX>
        <locationY>700</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Communication_Preferences</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Get Contact, Before: Update Communication Preferences</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Get Contact, Before: Update Communication Preferences</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Lookup</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_1614584bbf956315c0f6844d1bea7815_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Is_Do_Not_Text_visible,806,584|Target:Assign_Do_Not_Text_Field,918,969</description>
        <name>h_ae6fc5c2ae29de62da1fc6e031c0b4db_PostPreLog</name>
        <label>Log After: Is Do Not Text visible?, Before: Assign Do Not Text Field</label>
        <locationX>969</locationX>
        <locationY>1900</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Do_Not_Text_Field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Is Do Not Text visible?, Before: Assign Do Not Text Field</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Is Do Not Text visible?, Before: Assign Do Not Text Field</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Decision</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_0ede32870584619701e196d32f774e6d_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Update_Communication_Preferences,290,584|Target:Assign_Id_to_UpdateRecordVar,398,584</description>
        <name>h_b3cc82315390833215b5a08cd68c78c6_PostPreLog</name>
        <label>Log After: Update Communication Prefe..., Before: Assign Id to UpdateRecordVar</label>
        <locationX>584</locationX>
        <locationY>1000</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Id_to_UpdateRecordVar</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Update Communication Prefe..., Before: Assign Id to UpdateRecordVar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Update Communication Prefe..., Before: Assign Id to UpdateRecordVar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Screen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_26b7d798afb00afe8b72d1af1b641b15_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Is_Do_Not_Email_visible,1106,584|Target:Assign_Do_Not_Email_field,1202,986</description>
        <name>h_b5bd8150410fe6734b55b53e839d4c5c_PostPreLog</name>
        <label>Log After: Is Do Not  Email visible?, Before: Assign Do Not Email field</label>
        <locationX>986</locationX>
        <locationY>2500</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Do_Not_Email_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Is Do Not  Email visible?, Before: Assign Do Not Email field</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Is Do Not  Email visible?, Before: Assign Do Not Email field</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Decision</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_a9ae70bcae6cb721dc020b28de69495e_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Assignment_Do_Not_Mail_field,1526,1008|Target:Update_Contact_Comms_Preferences,1706,584</description>
        <name>h_c1cfe003893b11a3d26844fa492a50fd_PostPreLog</name>
        <label>Log After: Assignment Do Not Mail field,, Before: Update Contact Comms Prefer...</label>
        <locationX>584</locationX>
        <locationY>3400</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Contact_Comms_Preferences</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Assignment Do Not Mail field,, Before: Update Contact Comms Prefer...</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Assignment Do Not Mail field,, Before: Update Contact Comms Prefer...</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Assignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>FINER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_35450e79f9dbd6bc512c76ecaeaa2b1a_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Assign_Id_to_UpdateRecordVar,398,584|Target:Is_Do_Not_Call_Visible,553,577</description>
        <name>h_d462fdb2c71a72bca98d28897f215afe_PostPreLog</name>
        <label>Log After: Assign Id to UpdateRecordVar, Before: Is Do Not Call Visible?</label>
        <locationX>577</locationX>
        <locationY>1300</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Do_Not_Call_Visible</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Assign Id to UpdateRecordVar, Before: Is Do Not Call Visible?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Assign Id to UpdateRecordVar, Before: Is Do Not Call Visible?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Assignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>FINER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_c83bd876bfa1bb2fd046263f26b8d4c5_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Is_Do_Not_Mail_visible,1406,584|Target:Assignment_Do_Not_Mail_field,1526,1008</description>
        <name>h_d6205e4eae6f1329eadaeb3343cb2f4c_PostPreLog</name>
        <label>Log After: Is Do Not Mail visible?, Before: Assignment Do Not Mail field</label>
        <locationX>1008</locationX>
        <locationY>3100</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assignment_Do_Not_Mail_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Is Do Not Mail visible?, Before: Assignment Do Not Mail field</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Is Do Not Mail visible?, Before: Assignment Do Not Mail field</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Decision</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_3a571648d09e2f97bc015140da309ae3_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Assign_Do_Not_Call_field,564,960|Target:Is_Do_Not_Text_visible,806,584</description>
        <name>h_dccf844f45620a7e271c80c05daf1867_PostPreLog</name>
        <label>Log After: Assign Do Not Call field, Before: Is Do Not Text visible?</label>
        <locationX>584</locationX>
        <locationY>1600</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Do_Not_Text_visible</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Assign Do Not Call field, Before: Is Do Not Text visible?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Assign Do Not Call field, Before: Is Do Not Text visible?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Assignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>FINER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_41b88c6dce760fb833a586b63a9dbe86_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Start,48,458|Target:Get_Contact,182,584</description>
        <name>h_eac9fe3e9f93a4b60a557de76085ba8a_PostPreLog</name>
        <label>Log After: Start, Before: Get Contact</label>
        <locationX>584</locationX>
        <locationY>400</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Start, Before: Get Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Start, Before: Get Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Start</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_7a47fd8c00f56ccaf6971cfd114b85e2_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:Update_Contact_Comms_Preferences,1706,584|Target:null,0,0</description>
        <name>h_fab2fe6e319a0e4e6bbb20f839073e43_PostLog</name>
        <label>Log After: Update Contact Comms Preferences</label>
        <locationX>584</locationX>
        <locationY>3700</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Update Contact Comms Preferences</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Update Contact Comms Preferences</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>testnewmp__DY_Screen_Flow_Update_Communication_Prefs-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Record Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_4bc2f1e1c944d643d2bfe98757d5a927_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Do_Not_Call_field</name>
        <label>Assign Do Not Call field</label>
        <locationX>960</locationX>
        <locationY>1450</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordVar.Do_Not_Call__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_Not_Call</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>h_dccf844f45620a7e271c80c05daf1867_PostPreLog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Do_Not_Email_field</name>
        <label>Assign Do Not Email field</label>
        <locationX>986</locationX>
        <locationY>2650</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordVar.Do_Not_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_Not_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>h_089565144e97364967e8eddae27441c2_PostPreLog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Do_Not_Text_Field</name>
        <label>Assign Do Not Text Field</label>
        <locationX>969</locationX>
        <locationY>2050</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordVar.Do_Not_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_Not_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>h_54b9967639846299eacc71ca396adb66_PostPreLog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Description test</description>
        <name>Assign_Id_to_UpdateRecordVar</name>
        <label>Assign Id to UpdateRecordVar</label>
        <locationX>584</locationX>
        <locationY>1150</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>h_d462fdb2c71a72bca98d28897f215afe_PostPreLog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Do_Not_Mail_field</name>
        <label>Assignment Do Not Mail field</label>
        <locationX>1008</locationX>
        <locationY>3250</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordVar.Do_Not_Mail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_Not_Mail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>h_c1cfe003893b11a3d26844fa492a50fd_PostPreLog</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Do_Not_Call_Visible</name>
        <label>Is Do Not Call Visible?</label>
        <locationX>577</locationX>
        <locationY>1450</locationY>
        <defaultConnector>
            <targetReference>h_35b243abee71e511d80158f3ba91d16e_PostPreLog</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Call field is Visible and Selected</defaultConnectorLabel>
        <rules>
            <name>Do_no_Call_is_Null_or_Unchecked1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Do_Not_Call</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>h_5c757bb5d6443831a96db47270199dab_PostPreLog</targetReference>
            </connector>
            <label>Do no Call is Null or Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Do_Not_Email_visible</name>
        <label>Is Do Not  Email visible?</label>
        <locationX>584</locationX>
        <locationY>2350</locationY>
        <defaultConnector>
            <targetReference>h_b5bd8150410fe6734b55b53e839d4c5c_PostPreLog</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Email field is Visible and Selected</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Email_filed_is_Null_or_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_Not_Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>h_69dfb8d5843e1318f0ac0993b44cb878_PostPreLog</targetReference>
            </connector>
            <label>Do Not Email filed is Null or Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Do_Not_Mail_visible</name>
        <label>Is Do Not Mail visible?</label>
        <locationX>584</locationX>
        <locationY>2950</locationY>
        <defaultConnector>
            <targetReference>h_d6205e4eae6f1329eadaeb3343cb2f4c_PostPreLog</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Email field is Visible and Selected</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Mail_filed_is_Null_or_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_Not_Mail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>h_892adb7c4fa8f0f1c06289021668ffd6_PostPreLog</targetReference>
            </connector>
            <label>Do Not Mail filed is Null or Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Do_Not_Text_visible</name>
        <label>Is Do Not Text visible?</label>
        <locationX>584</locationX>
        <locationY>1750</locationY>
        <defaultConnector>
            <targetReference>h_ae6fc5c2ae29de62da1fc6e031c0b4db_PostPreLog</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Text field is Visible and Selected</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Text_filed_is_Null_or_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_Not_Text</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>h_4c7ae032dae2399ef75632c526b8fe06_PostPreLog</targetReference>
            </connector>
            <label>Do Not Text filed is Null or Unchecked</label>
        </rules>
    </decisions>
    <interviewLabel>DY Screen Flow - Update Communication Prefs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DY Screen Flow - Update Communication Prefs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>584</locationX>
        <locationY>550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>h_9364ae4903f134d4629322c94bef8413_PostPreLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Comms_Preferences</name>
        <label>Update Contact Comms Preferences</label>
        <locationX>584</locationX>
        <locationY>3550</locationY>
        <connector>
            <targetReference>h_fab2fe6e319a0e4e6bbb20f839073e43_PostLog</targetReference>
        </connector>
        <faultConnector>
            <targetReference>h_33cd4502bd7e753e3a595664f9acced8_PostPreLog</targetReference>
        </faultConnector>
        <inputReference>UpdateRecordVar</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>936</locationX>
        <locationY>3850</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>h_902b0d55fddef6f8d651fe1035b7d4bd_PostLog</targetReference>
        </connector>
        <fields>
            <name>Errortext</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Error occured&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Communication_Preferences</name>
        <label>Update Communication Preferences</label>
        <locationX>584</locationX>
        <locationY>850</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>h_b3cc82315390833215b5a08cd68c78c6_PostPreLog</targetReference>
        </connector>
        <fields>
            <name>Do_Not_Call</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Call</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Contact.Do_Not_Call__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_Not_Text</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Contact.Do_Not_Text__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_Not_Email</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Contact.Do_Not_Email__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_Not_Mail</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Mail</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_Not_Mail</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TESTText</name>
            <fieldText>&lt;p&gt;This contact has opted out of  all communications.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Contact.Do_Not_Call__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Contact.Do_Not_Email__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Contact.Do_Not_Mail__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Do_Not_Email</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>h_eac9fe3e9f93a4b60a557de76085ba8a_PostPreLog</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Error</description>
        <name>h_07be1695a86faf239e1863774dff15c3_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;SCREEN: &lt;/span&gt;Error&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Errortext: &lt;/span&gt;Errortext&lt;br&gt;
&lt;span&gt;Type: DisplayText&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: null&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!Errortext}&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_902b0d55fddef6f8d651fe1035b7d4bd_PostLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Is Do Not Text visible?, Before: Assign Do Not Text Field</description>
        <name>h_0ede32870584619701e196d32f774e6d_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;DECISION: &lt;/span&gt;Is Do Not Text visible?&lt;br&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Do_Not_Text_filed_is_Null_or_Unchecked&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Do_Not_Text} ({!Do_Not_Text}) NotEqualTo true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Default outcome executed.&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_ae6fc5c2ae29de62da1fc6e031c0b4db_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Assign Do Not Text Field, Before: Is Do Not  Email visible?</description>
        <name>h_13a2a97bfb78d4cb00e8b043fc03f5f5_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;ASSIGNMENT: &lt;/span&gt;Assign Do Not Text Field&lt;br&gt;
&lt;span&gt;UpdateRecordVar.testnewmp__Do_Not_Text__c Assign Do_Not_Text&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;UpdateRecordVar.testnewmp__Do_Not_Text__c = {!UpdateRecordVar.Do_Not_Text__c}&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_54b9967639846299eacc71ca396adb66_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Get Contact, Before: Update Communication Preferences</description>
        <name>h_1614584bbf956315c0f6844d1bea7815_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;GET RECORDS: &lt;/span&gt;Get Contact&lt;br&gt;
&lt;span&gt;Find all Contact records where:&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Id EqualTo recordId&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Store the values of these fields: &lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Get_Contact} ({!Get_Contact})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_9364ae4903f134d4629322c94bef8413_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Update Communication Prefe..., Before: Assign Id to UpdateRecordVar</description>
        <name>h_26b7d798afb00afe8b72d1af1b641b15_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;SCREEN: &lt;/span&gt;Update Communication Preferences&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Do_Not_Call: &lt;/span&gt;Do_Not_Call&lt;br&gt;
&lt;span&gt;Type: InputField&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!Do_Not_Call}&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Do_Not_Text: &lt;/span&gt;Do_Not_Text&lt;br&gt;
&lt;span&gt;Type: InputField&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!Do_Not_Text}&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Do_Not_Email: &lt;/span&gt;Do_Not_Email&lt;br&gt;
&lt;span&gt;Type: InputField&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!Do_Not_Email}&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Do_Not_Mail: &lt;/span&gt;Do_Not_Mail&lt;br&gt;
&lt;span&gt;Type: InputField&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!Do_Not_Mail}&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;TESTText: &lt;/span&gt;TESTText&lt;br&gt;
&lt;span&gt;Type: DisplayText&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Required: null&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Value at runtime: {!TESTText}&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_b3cc82315390833215b5a08cd68c78c6_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Assignment Do Not Mail field,, Before: Update Contact Comms Prefer...</description>
        <name>h_35450e79f9dbd6bc512c76ecaeaa2b1a_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;ASSIGNMENT: &lt;/span&gt;Assignment Do Not Mail field&lt;br&gt;
&lt;span&gt;UpdateRecordVar.testnewmp__Do_Not_Mail__c Assign Do_Not_Mail&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;UpdateRecordVar.testnewmp__Do_Not_Mail__c = {!UpdateRecordVar.Do_Not_Mail__c}&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_c1cfe003893b11a3d26844fa492a50fd_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Is Do Not Mail visible?, Before: Assignment Do Not Mail field</description>
        <name>h_3a571648d09e2f97bc015140da309ae3_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;DECISION: &lt;/span&gt;Is Do Not Mail visible?&lt;br&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Do_Not_Mail_filed_is_Null_or_Unchecked&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Do_Not_Mail} ({!Do_Not_Mail}) NotEqualTo true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Default outcome executed.&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_d6205e4eae6f1329eadaeb3343cb2f4c_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Do Not Mail filed is Null ..., Before: Update Contact Comms Prefer...</description>
        <name>h_3b84be9eba2269b255329b34949435cc_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;DECISION: &lt;/span&gt;Is Do Not Mail visible?&lt;br&gt;
&lt;span&gt;Outcome executed: Do_Not_Mail_filed_is_Null_or_Unchecked&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Do_Not_Mail} ({!Do_Not_Mail}) NotEqualTo true&lt;/span&gt;&lt;br&gt;

&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_892adb7c4fa8f0f1c06289021668ffd6_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Assign Do Not Call field, Before: Is Do Not Text visible?</description>
        <name>h_41b88c6dce760fb833a586b63a9dbe86_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;ASSIGNMENT: &lt;/span&gt;Assign Do Not Call field&lt;br&gt;
&lt;span&gt;UpdateRecordVar.testnewmp__Do_Not_Call__c Assign Do_Not_Call&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;UpdateRecordVar.testnewmp__Do_Not_Call__c = {!UpdateRecordVar.Do_Not_Call__c}&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_dccf844f45620a7e271c80c05daf1867_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Update Contact Comms Preferences</description>
        <name>h_4bc2f1e1c944d643d2bfe98757d5a927_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;UPDATE RECORDS: &lt;/span&gt;Update Contact Comms Preferences&lt;br&gt;
&lt;span&gt;Find all null records where:&lt;/span&gt;&lt;br&gt;

&lt;span&gt;Update the records&apos; field values.&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Update_Contact_Comms_Preferences} ({!Update_Contact_Comms_Preferences})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_fab2fe6e319a0e4e6bbb20f839073e43_PostLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Do Not Email filed is Null..., Before: Is Do Not Mail visible?</description>
        <name>h_7997b326c5de52a3fa1881d4c5ef3a31_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;DECISION: &lt;/span&gt;Is Do Not  Email visible?&lt;br&gt;
&lt;span&gt;Outcome executed: Do_Not_Email_filed_is_Null_or_Unchecked&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Do_Not_Email} ({!Do_Not_Email}) NotEqualTo true&lt;/span&gt;&lt;br&gt;

&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_69dfb8d5843e1318f0ac0993b44cb878_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Start, Before: Get Contact</description>
        <name>h_7a47fd8c00f56ccaf6971cfd114b85e2_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;&lt;style&gt;
span,a {
 font-size: 16px;}&lt;/style&gt;&lt;/head&gt;&lt;body&gt;&lt;p&gt;
&lt;span&gt;&lt;img src=&quot;https://a.sfdcstatic.com/shared/images/c360-nav/mobile_logo.png&quot; alt=&quot;Salesforce logo&quot; width=&quot;40px&quot;&gt;&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size:x-large;font-weight:bold&quot;&gt;An Error Occurred with Your &quot;DY Screen Flow - Update Communication Prefs&quot; Flow&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span&gt;You&apos;ve received this email because an error occurred while your &quot;DY Screen Flow - Update Communication Prefs&quot; flow was running. &lt;a &gt;Debug this flow in Flow Builder.&lt;/a&gt;&lt;br&gt;&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Error element debug (FlowActionCall).&lt;/span&gt;&lt;br&gt;&lt;span&gt;Debug: end&lt;/span&gt;&lt;br&gt;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;a style=&quot;background-color:#0176D3;border-radius:4px;color:white;padding:.5rem 1rem;text-decoration:none&quot;&gt;Open Flow&lt;/a&gt;&lt;br&gt;&lt;br&gt;&lt;/p&gt;
&lt;hr&gt;
&lt;br&gt;&lt;span style=&quot;font-size:x-large;font-weight:bold&quot;&gt;Flow Error Details&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Flow Details&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Flow API Name: &lt;/span&gt;testnewmp__DY_Screen_Flow_Update_Communication_Prefs&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Type: &lt;/span&gt;Flow&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Version: &lt;/span&gt;5&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Status: &lt;/span&gt;Draft&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Org: &lt;/span&gt;{!$Organization.Id} ({!$Organization.Name})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Flow Interview Details&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Interview Label: &lt;/span&gt;DY Screen Flow - Update Communication Prefs&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Interview GUID: &lt;/span&gt;{!$Flow.InterviewGuid}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Current User: &lt;/span&gt;{!$User.FirstName} {!$User.LastName}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Start time: &lt;/span&gt;{!$Flow.InterviewStartTime}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Duration: &lt;/span&gt;0&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;How the Interview Started&lt;/span&gt;&lt;br&gt;
&lt;span&gt;{!$User.FirstName} {!$User.LastName} ({!$User.Id}) started the flow interview.&lt;/span&gt;&lt;br&gt;
&lt;span&gt;API Version for Running the Flow: 63.0&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_eac9fe3e9f93a4b60a557de76085ba8a_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Do Not Text filed is Null ..., Before: Is Do Not  Email visible?</description>
        <name>h_9f6276656e21af45be88436ee7410216_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;DECISION: &lt;/span&gt;Is Do Not Text visible?&lt;br&gt;
&lt;span&gt;Outcome executed: Do_Not_Text_filed_is_Null_or_Unchecked&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Do_Not_Text} ({!Do_Not_Text}) NotEqualTo true&lt;/span&gt;&lt;br&gt;

&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_4c7ae032dae2399ef75632c526b8fe06_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Is Do Not  Email visible?, Before: Assign Do Not Email field</description>
        <name>h_a9ae70bcae6cb721dc020b28de69495e_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;DECISION: &lt;/span&gt;Is Do Not  Email visible?&lt;br&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Do_Not_Email_filed_is_Null_or_Unchecked&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Do_Not_Email} ({!Do_Not_Email}) NotEqualTo true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (and)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Default outcome executed.&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_b5bd8150410fe6734b55b53e839d4c5c_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Update Contact Comms Preferences, Before: Error</description>
        <name>h_b7435b402dd9428f353359ce9f52b8a7_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;UPDATE RECORDS: &lt;/span&gt;Update Contact Comms Preferences&lt;br&gt;
&lt;span&gt;Find all null records where:&lt;/span&gt;&lt;br&gt;

&lt;span&gt;Update the records&apos; field values.&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Update_Contact_Comms_Preferences} ({!Update_Contact_Comms_Preferences})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_33cd4502bd7e753e3a595664f9acced8_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Assign Do Not Email field, Before: Is Do Not Mail visible?</description>
        <name>h_c16a61983dcf15bbe14054e0689fdfca_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;ASSIGNMENT: &lt;/span&gt;Assign Do Not Email field&lt;br&gt;
&lt;span&gt;UpdateRecordVar.testnewmp__Do_Not_Email__c Assign Do_Not_Email&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;UpdateRecordVar.testnewmp__Do_Not_Email__c = {!UpdateRecordVar.Do_Not_Email__c}&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_089565144e97364967e8eddae27441c2_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Assign Id to UpdateRecordVar, Before: Is Do Not Call Visible?</description>
        <name>h_c83bd876bfa1bb2fd046263f26b8d4c5_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;ASSIGNMENT: &lt;/span&gt;Assign Id to UpdateRecordVar&lt;br&gt;
&lt;span&gt;UpdateRecordVar.Id Assign recordId&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;UpdateRecordVar.Id = {!UpdateRecordVar.Id}&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_d462fdb2c71a72bca98d28897f215afe_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Is Do Not Call Visible?, Before: Assign Do Not Call field</description>
        <name>h_d33bac4ddc8e727d4eedf609302fb6b3_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;DECISION: &lt;/span&gt;Is Do Not Call Visible?&lt;br&gt;
&lt;span&gt;Skipped this outcome because its conditions weren&apos;t met: Do_no_Call_is_Null_or_Unchecked1&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Do_Not_Call} ({!Do_Not_Call}) NotEqualTo true&lt;/span&gt;&lt;br&gt;
&lt;span&gt;All conditions must be true (or)&lt;/span&gt;&lt;br&gt;
&lt;br/&gt;
&lt;span&gt;Default outcome executed.&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_35b243abee71e511d80158f3ba91d16e_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Do no Call is Null or Unchecked, Before: Is Do Not Text visible?</description>
        <name>h_f7087a4f464e1b36f8621c290b19fd15_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;DECISION: &lt;/span&gt;Is Do Not Call Visible?&lt;br&gt;
&lt;span&gt;Outcome executed: Do_no_Call_is_Null_or_Unchecked1&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Outcome conditions: &lt;/span&gt;&lt;br&gt;
&lt;span&gt;\{!Do_Not_Call} ({!Do_Not_Call}) NotEqualTo true&lt;/span&gt;&lt;br&gt;

&lt;span&gt;All conditions must be true (or)&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_5c757bb5d6443831a96db47270199dab_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;

&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;

&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Pharos Full Stacktrace</description>
        <name>Pharos_Full_Stacktrace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue> </stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
